.fixed-next-button {
    position: fixed;
    bottom: 20px; /* 아래에서 20px 떨어진 위치 */
    right: 20px; /* 오른쪽에서 20px 떨어진 위치 */
    background-color: #007bff; /* 버튼 색상 */
    color: white; /* 글자 색상 */
    border: none;
    border-radius: 5px; /* 모서리 둥글게 */
    padding: 10px 20px; /* 버튼 내부 여백 */
    font-size: 16px; /* 글자 크기 */
    cursor: pointer; /* 마우스 커서 모양 */
    z-index: 1000; /* 다른 요소 위에 배치 */
}

.fixed-next-button:disabled {
    background-color: #ccc; /* 비활성화된 버튼 색상 */
    cursor: not-allowed; /* 비활성화된 버튼의 커서 모양 */
}

.fixed-back-button {
    position: fixed;
    bottom: 20px; /* 아래에서 20px 떨어진 위치 */
    left: 20px; /* 오른쪽에서 20px 떨어진 위치 */
    background-color: #008d62; /* 버튼 색상 */
    color: white; /* 글자 색상 */
    border: none;
    border-radius: 5px; /* 모서리 둥글게 */
    padding: 10px 20px; /* 버튼 내부 여백 */
    font-size: 16px; /* 글자 크기 */
    cursor: pointer; /* 마우스 커서 모양 */
    z-index: 1000; /* 다른 요소 위에 배치 */
}

.fixed-back-button:disabled {
    background-color: #ccc; /* 비활성화된 버튼 색상 */
    cursor: not-allowed; /* 비활성화된 버튼의 커서 모양 */
}